# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore all Makefile
!**/Makefile

# Unignore all Dockerfile
!**/Dockerfile

.vscode/*

# Ignore output files
*.o

# Ignore PDF files
*.pdf

# Ignore zip files
*.zip
